/*Global Styling */

*{
    box-sizing: border-box;
}

html{
    font-size: size 14px;
    font-family: 'Titillium web', sans-serif;
    background-color: rgb(13, 0, 58);
    color: #FEFEFE
}

button{
    font-size: size 14px;
    font-family: 'Titillium web', sans-serif;
    background-color: rgb(13, 0, 58);
    color: #FEFEFE
}

a{
    color: rgb(255, 0, 0);
}
a:active{
    color: rgb(80, 0, 0);
}

.middle{
    margin-left: 100px;
    margin-right: 100px;
}

input{
    margin: .4rem;
}
/*Index.html*/

.mainRow{
    display: grid;
    grid-template-columns: 75% 25%;
}

.left{
    margin: 5px;
}

.right{
    padding: 10px;
    margin-top: 30px;
    background-color: rgb(0, 0, 99)
}

/*Navigation Bar*/

.navBar{
    margin-left: 150px;
    margin-right: 150px;
    padding: 20px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.navColumn{
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: rgb(0, 0, 99);
}

/*Posts*/
.title{
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.container{
    margin-left: 5px;
    margin-right: 5px;
    padding: 20px;
}

.postDesc{
    padding: 10px;
}

.postRow{
    display: grid;
    grid-template-columns: 4% 76% 20%;
}

.postColumnLight{
    padding: 10px;
    background-color: rgb(0, 0, 155);
    border-bottom: solid white;
    border-top: solid white;
    border-width: 1px;
}
.postColumnDark{
    padding: 10px;
    background-color: rgb(0, 0, 99);
    border-bottom: solid white;
    border-top: solid white;
    border-width: 1px;
}

/*post.html*/
