<!DOCTYPE html>
<link rel = "stylesheet" href = "{{ url_for('static',filename='styles/stylesheet.css') }}">

<html>
    <title>Build Orders</title>
    <div class = "title">
        Starcraft 2 Build Orders
    </div>
    <body>
        <header>
            <nav class = "navBar">
                <button class = "navColumn">
                    HOME
                </button>
                <button class = "navColumn">
                    GUIDES
                </button>
                <button class = "navColumn">
                    REPLAYS
                </button>
                <button class = "navColumn">
                    LOGIN
                </button>
            </nav>
        </header>
        <hr class = "middle">
        <div class = "middle">
            <h2>{{post.title}}</h2>
            <h4>{{post.desc}}</h4>
        </div>
        <div class = "middle">
            <iframe width="420" height="315"src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
        </div>
        <div class = "middle">
            <h2>Build Order</h2>
            <p> {% autoescape false %}
                    {{ post.build.replace(', ', '<br>')}}
                {% endautoescape %}
            </p>
        </div>
    </body>
</html>