<!DOCTYPE html>
<link rel = "stylesheet" href = "{{ url_for('static',filename='styles/stylesheet.css') }}">
<html>
    <title>Build Orders</title>
    <div class = "title">
        Starcraft 2 Build Orders
    </div>
    <body>
        <header>
            <nav class = "navBar">
                <button onClick = "homeBtn()" class = "navColumn">
                    HOME
                </button>
                <button onClick = "replayBtn()" class = "navColumn">
                    BUILD
                </button>
            </nav>
        </header>
        <hr class = "middle">
        <div class = "middle main navColumn">
            <form class = "middle" action = "{{url_for('upload_file')}}" method = "POST" enctype = "multipart/form-data">
                <label>Upload .SC2Replay File:</label>
                <input type = "file" name = "file">
                <button type = "submit" name = "submit" id="submit">UPLOAD</button>
            </form>
        </div>
    </body>
    <script src = "{{url_for('static', filename='scripts.js')}}"></script>
    <script src = "{{url_for('static', filename='jsonTest.js')}}"></script>
</html>